@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p>
        <h2>
            <a href="@Url.Content("~/home/ByInstance")">
                ByInstance
            </a>
        </h2>
    </p>
    
    <p>
        <h2>
            <a href="@Url.Content("~/home/services")">
                Services
            </a>
        </h2>
    </p>
</div>
