name: push to nuget

on:
  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Package
      if: github.ref == 'refs/heads/master'
      run: dotnet pack -c Release -o . AgileConfig.Client/AgileConfig.Client.csproj
    - name: Publish
      if: github.ref == 'refs/heads/master'
      run: dotnet nuget push *.nupkg -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.jso
